@import url(reset.css);
	
body {
background: -moz-linear-gradient(top,  rgba(205,215,220,1) 0%, rgba(255,255,255,0.75) 17%, rgba(255,255,255,0) 69%) repeat-x; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,215,220,1)), color-stop(30%,rgba(255,255,255,0.75)), color-stop(69%,rgba(255,255,255,0)))repeat-x; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(205,215,220,1) 0%,rgba(255,255,255,0.75) 30%,rgba(255,255,255,0) 69%)repeat-x; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(205,215,220,1) 0%,rgba(255,255,255,0.75) 17%,rgba(255,255,255,0) 69%)repeat-x; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(205,215,220,1) 0%,rgba(255,255,255,0.75) 17%,rgba(255,255,255,0) 69%)repeat-x; /* IE10+ */
background: linear-gradient(top,  rgba(205,215,220,1) 0%,rgba(255,255,255,0.75) 17%,rgba(255,255,255,0) 69%)repeat-x; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdd7dc', endColorstr='#00ffffff',GradientType=0 )repeat-x; /* IE6-9 */

	}
	
	
div#contenido{
	font-family:Helvetica;
	font-size:1.3em;
	color:#333; /*color de la letra*/
	margin:3em auto;
	width:30em;
	/*border:green 0.1em solid;*/	
	}
	
		div#pie{
			clear:both;
	/*border:green 0.2em dotted; */ 
	
	height:5em;
	border-top:0.09em dotted;
	border-color:#CCC;
	background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(255,255,255,0) 100%) repeat-x; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,0))) repeat-x; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,0) 100%) repeat-x; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,0) 100%) repeat-x; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,0) 100%) repeat-x; /* IE10+ */
	background: linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,0) 100% repeat-x); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#00ffffff',GradientType=0 ) repeat-x; /* IE6-9 */
			
			}
	
	h1{
		font-size:1.6em;
		font-weight:bold;
		color:#006;
		}
	h2{
		font-size:1em;
		font-weight:bold;
		color: #333;
		border-top:0.1em dotted;
		padding-top:0.2em;
		width:85%;
		}
	
	input.campo {
		height:1.7em;
		width:12em;
		font-size:1em;
		font-weight:600;
		height:1.7em;
		box-shadow:0.2em 0.2em 0.9 grey;
		border:0.1em solid #999;
		border-radius:0.3em;
			-webkit-border-radius:0.3em;
			-moz-border-radius:0.3em;
			padding-left:0.2em;
			margin-bottom:0.5em;
		}
		
		
		input.campo:focus {
			border: #09F 0.1em solid;
					box-shadow:0.1em 0.1em 0.9em #EAEAEA;

		}
	
	
	
	div#columna{
	float:left;
	margin-right:2em;
	}
	
	div#titulo{
		margin-top:0.7em;
		margin-bottom:1em;}
		
	
		
		p{
			color:#000;
			font-size:1.1em;
			padding-bottom:0.2em;
			}
			
	div#formulario{
	border:0.1em dotted #999;
	-webkit-border-radius:0.5em;
	padding:0.5em 0 0.2em 2.3em;
	overflow:hidden;	
		background:#E3ECEE;
		width:18em;
border: #999 0.1em solid;
					box-shadow:0.1em 0.1em 0.9em #EAEAEA;

		}
		
input#boton_ingresar{
clear:both;
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(0,51,102,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(0,51,102,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(0,51,102,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(0,51,102,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(0,51,102,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(0,51,102,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#003366',GradientType=0 ); /* IE6-9 */
border-radius:0.5em;
-webkit-border-radius:0.5em;
-moz-border-radius:0.5em;
font-family:Helvetica;
font-size:1em;
margin-top:0.5em;
margin-left:11em;
color:white;
height:2em;
width:8em;
margin-bottom:1em;
transition:box-shadow 500ms;
-webkit-transition:box-shadow 500ms;
border:none;		}
		
		input#boton_ingresar:hover{
			cursor:pointer;
			box-shadow:0.1em 0.1em 0.4em #6CF;
			}	
		
		div#login{
				overflow:hidden;
				padding-left:2em;
				

			}	
	
	
	
	
	
	
	a{
color:#333;
font-weight:bolder;
font-size:1.4em;
text-decoration:none;
transition:color 500ms, padding-top 600ms;
-webkit-transition:color 500ms, padding-top 600ms;
-moz-transition:color 500ms, padding-top 600ms;
-ms-transition:color 500ms, padding-top 600ms;
-o-transition:color 500ms, padding-top 600ms;
}


a:hover{
color:#E4101B;
padding-top:1em;
cursor:pointer;
}

/*
input.campo { 
		height:1.7em;
		width:12em;
		font-size:22px;
		font-style:oblique;
		font-weight:600;
		}
	
			
a{
		text-decoration:none;
		cursor:pointer;
		color:#009;
		font-weight:bold;
		font-size:23px;
			}
	
a:hover{
		text-decoration:none;
		color: #00F;
			}
			
h1{
	font-size:27px;
	color:#036;
	

		}
		
h2{
	font-size:22px;
	color:#009;
	border-top:1px solid #333;
	width:auto;
	}
		
p{	
	font-weight:bold;
	margin:0.2em 0 0.2em 0;
			}
			
#boton_ingresar{
	position:absolute;
	margin-top:11.5em;
	margin-left:1.8em;}	
			

div#columna
{
	float:left;
	overflow:hidden;
	}

div#titulo{
	width:27em;
	}
	
form {
	background:#E3ECEE;
	padding:0.5em 0em 0.8em 1em;
	width:23em;
	height:8em;
	margin-top:0.3em;
	border:1px solid #CCC;
	-webkit-border-radius:0.5em;
	-webkit-box-shadow:rgba(0,0,0,0.5) 0.3em 0.3em 0.3em;
		}
	*/