/* Codigo de Eric Meyer para borrar estilos del navegador */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Técnicas de limpieza de elementos flotantes
*/

.limpiar:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}
	
.limpiar{
	display:inline-block;
	}
	
.limpiar{
	display:block;
	}
	
* html .limpiar{
	height:1px;
	}


/*---------------------------------------------------------------------------------------------*/

html{
	height:100%;}

a{
color:#333;
font-weight:bolder;
font-size:1.4em;
text-decoration:none;
transition:color 500ms, padding-top 600ms;
-webkit-transition:color 500ms, padding-top 600ms;
-moz-transition:color 500ms, padding-top 600ms;
-ms-transition:color 500ms, padding-top 600ms;
-o-transition:color 500ms, padding-top 600ms;
}


a:hover{
color:#E4101B;
padding-top:1em;
cursor:pointer;
}


body{
/*border:red 0.2em dotted; */
margin:0;
padding:0;
background: -moz-linear-gradient(top,  rgba(205,215,220,1) 0%, rgba(255,255,255,0.75) 17%, rgba(255,255,255,0) 69%) repeat-x; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,215,220,1)), color-stop(17%,rgba(255,255,255,0.75)), color-stop(69%,rgba(255,255,255,0)))repeat-x; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(205,215,220,1) 0%,rgba(255,255,255,0.75) 17%,rgba(255,255,255,0) 69%)repeat-x; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(205,215,220,1) 0%,rgba(255,255,255,0.75) 17%,rgba(255,255,255,0) 69%)repeat-x; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(205,215,220,1) 0%,rgba(255,255,255,0.75) 17%,rgba(255,255,255,0) 69%)repeat-x; /* IE10+ */
background: linear-gradient(top,  rgba(205,215,220,1) 0%,rgba(255,255,255,0.75) 17%,rgba(255,255,255,0) 69%)repeat-x; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdd7dc', endColorstr='#00ffffff',GradientType=0 )repeat-x; /* IE6-9 */
height:auto;
}

div#bodi{
/*border:green 0.2em dotted; */
font-family:Helvetica;
margin:0 auto;
padding:0.5em 0.5em 0em 0.5em;
max-width:58.9em;
min-width:58.9em;
margin-top:5em;

}


div#descripcion_horno{
	clear:both;
	float:left;
	width:26em;
	border-top:0.1em dotted;
	padding-top:0.5em;
}

div#producto_fabricado{
	margin-bottom:0.5em;
	padding-top:0.5em;
	}

div#titulo_oculto{
display:none;
}

div#tarjeta{
/*border:yellow 0.2em dotted; */
float:left;}

div#linea_separadora{
border-right:0.1em dotted;
border-color:#333;
width:0.1em;
height:21em;
float:left;
margin-right:2em;
margin-left:2em;
margin-bottom:3em;
}

div#novedades{
		margin-bottom:2em;

	
/*border:blue 0.2em dotted; */
clear:both;
}
	
div#novedades a{
	font-size:0.9em;
	color:#666;
	line-height:1.5em;
	font-weight:normal;
	
	}
	
div#linea_separadora_descripcion{
	margin:0 1em 0 1em;
	float:left;
	border-right:0.1em dotted;
	height:17em;}	

div#titulo_seccion{
	padding-top:0.3em;
	border-bottom:0.1em dotted;
	border-top:0.1em dotted;
	height:3em;
	margin-bottom:0.6em;
	}
	
div#piedefoto{
	margin-top:1.9em;
	font-weight:bold;
	font-size:0.8em;
	margin-left:0em;
	color:#666;}	
	
#pie{
	clear:both;
/*border:green 0.2em dotted; */ 

height:10em;
border-top:0.09em dotted;
border-color:#CCC;
background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(255,255,255,0) 100%) repeat-x; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,0))) repeat-x; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,0) 100%) repeat-x; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,0) 100%) repeat-x; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,0) 100%) repeat-x; /* IE10+ */
background: linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,0) 100% repeat-x); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#00ffffff',GradientType=0 ) repeat-x; /* IE6-9 */
	}
	
	
	
#hijopie{		
font-family:Helvetica;
font-size:0.8em;
max-width:72em;
margin:2.2em auto;
padding:0.5em 0.5em 0.5em 0.5em;
min-width:58.9em;
color:#333;
overflow:hidden;
	}

.deco{
padding:0.3em 1em 1em 1em;
box-shadow:#ccc 0.1em 0.9em 0.9em;
}


p{
	margin-bottom:0em;
	padding:0em;}

footer{
/*border:blue 0.2em dotted;*/ 
border-top:0.1em dotted;
border-color:#333;
padding:1.5em 0.5em 0.5em 0.5em;
clear:both;
color:#333333;
font-weight:bold;
font-size:1em;
line-height:0.68em;
}

nav{
/*border:brown 0.2em dotted; */
font-size:1.2em;
line-height:1.2em;
color:#333;
padding-left:22em;
height:21em;
}

span#logo{
/*border:0.2em dotted violet; */
float:left;
margin-bottom:1em;
}




img#vision{
	border:0.1em dotted;
float:left;
box-shadow:none;
margin-bottom:1em;
}

img#imagen_termo{
	height:401px;
	width:450px;	
	float:left;
	margin-bottom:1em;
	margin-right:0.5em;
	}

img#servicio_tecnico{
	width:100%;
	float:left;
	margin-bottom:1em;}
	


#gbox{
/*	border:0.1em red dotted; */
	margin-bottom:1em;
	}
	
#flyback{
	/*border:0.2em dotted red;*/
	margin-top:0.5em;
	margin-bottom:0.8em;
	margin-left:0em;
	}
	
	#frio{
	/*	border:red 0.2em dotted; */
	margin-top:0.7em;
	margin-bottom:1em;
	margin-left:4em;
	}
	
img#gbox,#flyback,#frio{
	box-shadow:none;
	
}
	
	
.abajo{
	margin-bottom:4em;}
	

h4{
font-size:1.3em;
color:#000;
margin-bottom:0.2em;

}

h5{
font-size:1.2em;
color:#333;
margin-bottom:0.3em;}

p#parrafo_descriptivo{
	line-height:1.2em;
	margin-top:0.5em;
	font-weight:normal;
	font-size:1.2em;
	}
	
p#parrafo_descriptivo_leyenda{
	line-height:1.2em;
	font-weight:normal;
	font-size:1.2em;
	}
	
#descripcion_productos{	
line-height:1.3em;
font-weight:normal;
font-size:1.1em;
margin-bottom:0.5em;
}

#parrafo{
	line-height:1.2em;
font-size:1.1em;
margin-bottom:0.5em;
}

#separador{
	clear:both;
	margin-bottom:1em;
	margin-top:1em;
	border-top:0.1em dotted;
}


	

		
#linea_separadora_vision{
	margin:0 1em 0 1em;
	float:left;
	border-right:0.1em dotted;
	height:18.5em;	}
	
	
div#posicion{
	margin-bottom:0.6em;
	}
	
	
	
	
	#logo_termo{
		clear:both;
		width:19em;
		margin-left:2em;
		margin-top:2em;
		box-shadow:none;
		border-bottom:0.1em dotted;
		padding-bottom:1.6em;
		}
	
	#logo_horno{
		width:19em;
		margin-left:3.5em;
		margin-top:2em;
		box-shadow:none;
		padding-bottom:1.6em;
		}
		
		
	div#caracteristicas{
/*		border:blue dotted 0.2em;
*/		clear:both;
margin-top:1em;
padding-top:1.5em;		
height:26em;

}


#caja{
	float:left;
	margin-left:2.8em;
	width:17em;
	text-align:center justify;
	}
	
#caja:hover{
			border-color:#E4101B;
}
	
#cajanoleft{
	margin-left:0em;
	width:17em;
	float:left;
	text-align:center justify;
	}
	
#caja.borde, #cajanoleft.borde{
border:dotted 0.1em;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
overflow:hidden;
display:block;


}


#caja.borde:hover, #cajanoleft.borde:hover{

			border:#E4101B 0.2em solid;
			overflow:hidden;
			margin-top:-0.2em;
			margin-bottom:-0.2em;

}

	
		img#inversora{
			margin-top:0.5em;
			margin-bottom:0.5em;
			margin-left:1em;
/*		border:green 0.2em dotted;
*/	}
	
	
#fichatecnica{
float:left;
/*border:red 0.2em solid; */
width:17.5em;
padding:1em;
background-color:#FAFAFA;
box-shadow:#666 0em 0.2em 0.5em;
font-size:1.1em;
color:#333333;
line-height:1.1em;
-webkit-border-radius:0.5em;
margin:0.4em 0.6em 0.4em 0.4em;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
overflow:hidden;
	}
	
	
	#fichatecnica_2{
float:left;
/*border:red 0.2em solid; */
width:17em;
padding:1em;
background-color:#FAFAFA;
box-shadow:#666 0em 0.2em 0.5em;
font-size:1.1em;
color:#333333;
line-height:1.1em;
-webkit-border-radius:0.5em;
margin:0.4em 0.6em 0.4em 0.4em;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
overflow:hidden;
	}
	

	
	li{
		margin-bottom:0.7em;}
	
	#titulomenor{
		margin-bottom:0.6em;

		}
		
		#tab{
			margin-left:0.7em;}
	
	
	
	input.campo{
		clear:both; 
		height:1.5em;
		width:18em;
		font-size:1.2em;
		margin-bottom:0.7em;
		}

#form {
	float:left;
	background:#F2F2F2;
	padding:1em;
	width:22.2em;
	border:0.1em dotted #999;
	margin-top:0.2em;
		}
		
			
	#imagen_furgones{
	width:490px;
	height:376px;
	margin-left:0.5em;}


		textarea{
		width:18em;
		font-size:1.2em;
		resize:none;
			}
			
div#titulodeco{
	/*border:blue solid 0.2em; */
	border-top:0.06em dotted;
	padding-left:0.5em;
	padding-top:0.2em;
	width:98%;
	font-size:1.5em;
	font-weight:bold;
	}
			
div#subtitulodeco{
	/*border:red 0.2em solid; */
	/*
	background: #191919;
	
	padding:0.3em 0 0 0.6em;*/

	font-size:1.2em;
	font-weight:bold;	
	line-height:1.1em;
	color:#fff;
	position:absolute;
	margin-left:0.8em;
	margin-top:0.4em;	
	}
	
div#fondosub{
	border-top: 3.8em solid #191919;
	border-left: 0em solid transparent;
	border-right: 1em solid transparent;
	}
	
div#fondosub1linea{
	border-top: 2.4em solid #191919;
	border-left: 0em solid transparent;
	border-right: 1em solid transparent;
	}
		
div#linearojadeco{
	background:#E4101B;
	margin-top:0.2em;
	margin-bottom:0.4em;
	margin-left:1.1em;
	width:88%;
	height:0.8em;
	}


.ultimo{
		clear:both;
		margin-top:1.4em;
}


.boton_envio {
	margin-left:1.4em;
	background: #444444;
    border: 0 none;
    color: #FFFFFF;
    font-weight: bold;
    height: 2.95em;
    padding:0.6em;
    position: relative;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
}
.boton_envio:hover{
	background: #6A6A6A;
}

/* AJAX Gif y mensajes de exito o fracaso */
.hide{
	display: none;
}
.ajaxgif{
	position: absolute;
    left: 1em;
    top: 0.3em;
}
.msg{
    color: white;
	font-weight:bold;
    height: 2em;
    line-height: 2em;
    position: absolute;
	text-transform: uppercase;
	min-width:11em;
	padding: 0 0.6em;
}
.msg_ok{
	background: #589D05;
}
.msg_error{
	background: red;
}

div#visita{
/*	border:red 0.2em solid;
*/		height:28em;}

span#titulovisita{
	font-size:1.3em;
	font-weight:bold;
	}
	
	.centrada{
	text-align:center;
	font-weight:bolder;
	padding-top:0.2em;
	}

div#enlaces{
	width:100%;
	padding-top:1em;
	margin-top:0.5em;
	border-top:0.1em dotted;
	margin-bottom:1em;
	-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
	overflow:hidden;

	}
	
#italianas,#españolas,#dual{
	
	}
	
	#italianas,#españolas,#dual,#accesorios:hover{
		cursor:pointer;
	}
	
	table {
	font-size:1.2em;
	text-align:center;
	width:100%;
	}
	
	.left{
		text-align:left;
		}
		
	
th,td {
border: 0.1em solid #666;
padding:0.6em;
height:1em;
vertical-align:middle;
}



tr.ploma{
	background:#f2f2f2;}
	
.coloreada{
	color:#009;}
	
#columna{
	width:14em;
	float:left;
	margin-left:1em;
	font-size:1.2em;
	line-height:1em;
	}
	
.columna{
	float:left;
	overflow:hidden;
	padding-right:3em;
	border-right:#333 dotted 0.1em;
	margin-right:3em;
	line-height:1em;
	
	}
	
	
	
	.nolink{
		font-weight:normal;
		font-size:1em;
		color:#333;
		
		}
		
	
	#sinbordederecho{
			border-right:none;
}
	
#titulo_caracteristicas{
	border-bottom	:0.1em dotted;
	border-color:#000;
	font-size:1.2em;
	color:#CC0000;
	padding:0.2em 0.2em 0.2em 0.5em;
	font-weight:bold;
	margin-bottom:0.3em;
	
	}
	
#titulo_kitaccesorios{
	border-bottom:0.1em dotted;
	border-color:#000;
	font-size:1.2em;
	color: #009;
	padding:0.2em 0.2em 0.2em 0.5em;
	margin-bottom:0.3em;
	font-weight:bold;	
	}
	
	.columna_no_titulo{
		padding-left:1em;
		}
	.columna_abajo{
		padding-left:1em;
		margin-top:1.1em;}
		
#fichapais{
float:left;
}
		
#pais{
clear:both;
margin-top:31em;
}

#titulopais{
	clear:both;
	padding-top:0.3em;
	margin-left:2em;
	}
			
#color1{
margin-left:2em;
border:0.1em solid;
border-bottom:0.1em solid;
background:#68A22F;
height:1em;
width:4em;
float:left;
}

#color2{
border-top:0.1em solid;
border-bottom:0.1em solid;
background:#fff;
height:1em;
width:4em;
float:left;
}

#color3{
border:0.1em solid;
background:#C00;
height:1em;
width:4em;
float:left;
}

#modulo{
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
overflow:hidden;
width:100%;
	}

a#ir_arriba{
display:none;
padding-top:0em;
width:7em;
height:7em;
background-color:#000;
color:#fff;
position:fixed;
bottom:1em;
right:6em;
text-align:center;
cursor:pointer;
text-decoration:none; 
filter:alpha(opacity=60);
opacity:.60;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /*--IE 8 Transparency--*/
background: url(flecha.jpg) no-repeat center center;
}

#accesorios:hover{
border:#E4101B 0.2em solid;
overflow:hidden;
margin-top:-0.2em;
margin-bottom:-0.2em;
margin-left:-0.2em;
	}

