@import url(css/reset.css);

a{
color:#333;
font-weight:bolder;
font-size:1.5em;
text-decoration:none;
-webkit-transition:color 500ms;
}

a:hover{
color:#E4101B;
}

a.otros{
margin-left:0.5em;
}

article#leyenda{
font-size:1.2em;
line-height:1.2em;
color:#333;
padding:0.9em 0.5em 0em 29em;
height:16.2em;
}

body{
display:block;
font-family:Arial;
display:block;
margin:0 auto;
padding:0.5em;
background:-webkit-linear-gradient(top,rgba(205,215,220,1) 0em,rgba(255,255,255,1) 5em) no-repeat;
width:58.9em;

}

div#contenido{
margin-top:0.5em;
float:left;

}

div#estructura{
}

div#titulo_oculto{
display:none;
}

div#grilla{
margin-top:0.5em;
}


footer{
margin-top:0.8em;
border-top:0.1em dotted;
height:3em;
padding:0.5em;
text-align:center;
clear:both;
color:#333333;
}



nav{
border-bottom:0.1em dotted;
}

#soldadoras{
height:10em;
margin:0.5em 0 0.5em 0;
}


#pistolas,#seguridad{
display:inline-block;
height:10em;
width:23.2em;
}

section{
font-weight:bold;
font-size:1.2em;
border:#666 solid 0.3em;
-webkit-box-shadow:rgba(0,0,0,0.5) 0.3em 0.3em 0.9em;
padding:0.3em;
-webkit-border-radius:0.7em;
margin:0.1em;

}

section:hover{
cursor:pointer;
border:#E4101B solid 0.3em;
}

iframe{
	margin-top:0.5em;}

img#toberas_maquinas{
	width:58.9em;
	}


